

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobile-menu-open {
            display: none;
        } 

    .mobile-menu-container {
            display: none;
        }

    .page-header-container {
        justify-content: center;
    }

   .footer-info-box {
       display: flex;
   }

  
   .special {
    display: flex;
    flex-wrap: wrap;
   }
}





@media screen and (max-width: 1199px) {
.contacts-info {
        margin-left: auto;
        margin-right: 46px;
    }

.contacts {
    font-size: 12px;
    line-height: 1.33;
}

 .adv-icon {
     display: none;
 }

.advantage-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    
}

.item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

}

.advantages-item {
    width: 300px;
}

.about-section {
    display: none;
}

.employees-list {
    row-gap: 64px;
}

.team-list {
    margin-right: 24px;
}

.customers-list {
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;

}

.customers-list-item {
    display: flex;
    flex-wrap: wrap;
    height: 88px;
    width: 190px;
    justify-content: center;

}
.footer {
    background-image: url(../images/tablet/footerbg.jpg);
    padding-top: 96px;
    padding-bottom: 96px;
}


 .footer-info {
     margin-right: 24px;
 }

 .footer-email {
    margin-right: 24px
 }
.subscribe-box {
    display: flex;
}
}






@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/tablet/headerbg@2x.jpg");
    }

    .footer {
        background-image: url(../images/tablet/footerbg@2x.jpg);
}

}